body {
    font-family: courier;
}

.input::-webkit-input-placeholder {
    font-family: Courier, Arial, Helvetica, sans-serif;
}

.input::-ms-input-placeholder {
    font-family:  Courier, Arial, Helvetica, sans-serif;
}

.input::-moz-placeholder {
    font-family: Courier, Arial, Helvetica, sans-serif;
}

.input::-moz-placeholder {
    font-family: Courier, Arial, Helvetica, sans-serif;
}

input[type=text] {
    margin-top:7px;
    margin-bottom:7px;
    padding:7px; 
    border:1.5px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {
    border-color:#0060a0; 
}

input[type=submit] {
    padding:5px 15px;
    margin-top: 10px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
